<section>
  <!-- total dollars -->
  <div>
    <h3>${{stats.totalDollars | number}}</h3>
    <p>of $100,000 backed</p>

    <div class="w-20 h-[1px] bg-gray-200 mt-4"></div>
  </div>
  <!-- end total dollars -->


  <!-- total backers -->
  <div>
    <h3>{{stats.totalBacker}}</h3>
    <p>total backers</p>
    <div class="w-20 h-[1px] bg-gray-200 mt-4"></div>
  </div>
  <!-- end total backers -->


  <!-- days left -->
  <div>
    <h3>{{stats.dayLeft}}</h3>
    <p>days left</p>
  </div>
  <!-- end days left -->
</section>
