<section @zoomInDownOnEnter>
  <ul>
    <!-- total pledge -->
    <li>
      <h3>${{stats.pledged | number}}</h3>
      <p>of $100,000 backed</p>
    </li>
    <!-- end total pledge -->


    <!-- total backers -->
    <li>
      <h3>{{stats.backers | number}}</h3>
      <p>total backers</p>
    </li>
    <!-- end total backers -->


    <!-- days left -->
    <li>
      <h3>{{stats.left}}</h3>
      <p>days left</p>
    </li>
    <!-- end days left -->
  </ul>

  <lbk-process-bar [fill]="fill" class="block w-full !mt-2"></lbk-process-bar>
</section>
