<div [ngClass]="ngClass" class="duration-300 border divide-y rounded-lg py-7 ">
  <div class="flex md:pl-6">
    <!-- checkbox tablet-->
    <lbk-checkbox class="hidden md:block" (click)="onCheck.emit()" [checked]="checked"></lbk-checkbox>
    <!-- end checkbox tablet-->

    <div class="grid gap-4 px-6">
      <div class="flex items-center gap-3 sm:gap-5">
        <!-- checkbox mobile-->
        <lbk-checkbox class="md:hidden" (click)="onCheck.emit()" [checked]="checked"></lbk-checkbox>
        <!-- end checkbox mobile-->

        <div class="flex flex-row items-start justify-between md:w-full">

          <div class="flex flex-col md:flex-row md:items-center md:gap-6">
            <!-- name -->
            <a routerLink="/" class="font-black link">{{ pledge.name }}</a>
            <!-- end name -->

            <!-- pledge amount -->
            <p *ngIf="pledge.amount > 0" class="text-sm font-semibold text-primary md:justify-self-end lg:text-base">
              Pledge {{ pledge.amount | currency }} or more
            </p>
            <!-- end pledge amount -->
          </div>


          <!-- left -->
          <lbk-pledge-left class="hidden md:inline" *ngIf="showLeft" [left]="pledge.left"></lbk-pledge-left>
          <!-- end left -->
        </div>
      </div>

      <!-- description -->
      <p class="text-sm text-muted sm:text-base">{{ pledge.description }}</p>
      <!-- end description -->

      <!-- left -->
      <lbk-pledge-left class="block md:hidden" *ngIf="showLeft" [left]="pledge.left"></lbk-pledge-left>
      <!-- end left -->


      <!-- continue button for pledge without a reward -->
      <div (click)="onPledged(0)" class="justify-self-end">
        <button *ngIf="isDefaultPledge && checked" class="btn btn-primary">Continue</button>
      </div>
      <!-- end continue button for pledge without a reward -->
    </div>

  </div>

  <lbk-enter-pledge (pledged)="onPledged($event)" class="block px-6 pt-4 mt-4" *ngIf="showEnterPledge"
    [pledge]="pledge.amount"></lbk-enter-pledge>
</div>
