<header>
  <div class='container'>
    <!--    mobile navbar normal-->
    <nav *ngIf='!active' class='normal flex-between-row'>
      <!--    logo-->
      <lbk-logo></lbk-logo>
      <!--    end logo-->

      <!--      links desktop-->
      <ul class='links-desktop flex-center-row'>
        <li>
          <a routerLink="/">About</a>
        </li>
        <li>
          <a routerLink="/">Discover</a>
        </li>
        <li>
          <a routerLink="/">Get Started</a>
        </li>
      </ul>
      <!--      end links desktop-->

      <!--    hamburger-->
      <img class='icon' (click)='active = true' src='/assets/images/icon-hamburger.svg' alt='Hamburger'>
      <!--    end hamburger-->
    </nav>
    <!--    end mobile navbar normal-->

    <!--mobile navbar active-->
  </div>
</header>
