<div>
  <nav>
    <!--          title-->
    <h3>{{project.name}}</h3>
    <!--          end title-->

    <!--          pledge-->
    <p>Pledge ${{project.pledge}} or more</p>
    <!--          end pledge-->
  </nav>

  <!--          description-->
  <p>{{project.description}}</p>
  <!--          end description-->

  <!--  left and select reward-->
  <section>
    <!--        left-->
    <div>
      <h1>{{project.left}}</h1>
      <p>left</p>
    </div>
    <!--        end left-->

    <!--        select reward-->
    <a *ngIf='!project.isOutOfStock; else outOfStock' (click)='onReward()' href='#'>Select
      Reward</a>
    <!--        end select reward-->
    <ng-template #outOfStock>
      <a href='#'>Out of Sock</a>
    </ng-template>
  </section>
  <!--  end left and select reward-->
</div>
