<div>
  <!--  navbar-->
  <nav>
    <h3>Back this project</h3>
    <img (click)='close.emit()' src='/assets/images/icon-close-modal.svg' alt='Close'>
  </nav>
  <!--  end navbar-->

  <!--  subtext-->
  <p>Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the world?</p>
  <!--  end subtext-->

  <!--  list projects select-->
  <div>
    <ng-container *ngFor='let project of projects'>
      <!-- <lbk-project-card-select [project]='project'></lbk-project-card-select> -->
    </ng-container>
  </div>
  <!--  end list projects select-->
</div>
