@import "tailwindcss/base";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --moderate-cyan: 176, 50%, 47%;
    --dark-cyan: 176, 72%, 28%;
    --black: 0, 0%, 0%;
    --dark-gray: 0, 0%, 48%;
    --white: 0, 0%, 100%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  //make default form look nice
  [type="text"],
  [type="email"],
  [type="password"],
  [type="number"],
  [multiple] {
    @apply duration-150 w-full border-gray-300 border-2 rounded-lg shadow-sm  focus:border-primary focus:ring-0;
  }
}

input.ng-invalid.ng-touched {
  @apply border-2 border-red-600;
}

@layer components {
  .container-large {
    max-width: 1440px;
    margin: 0 auto;
  }

  .thanks-dialog {
    margin: 0 8px;
    max-width: 378px !important;
  }

  .pledges-dialog {
    max-width: 50rem !important;
    margin: 0 1rem;

    @media (min-width: 640px) {
      margin: 0 2rem;
    }
  }

  //CUSTOM APPLY HERE
  .btn {
    @apply duration-500 inline-block text-white font-semibold text-center py-3 px-8  rounded-full tracking-wide md:px-10 disabled:opacity-50;
  }

  .btn-primary {
    @apply bg-primary shadow-md shadow-primary hover:bg-primary-900 hover:shadow-primary-900;
  }
  .btn-secondary {
    @apply bg-muted shadow-md shadow-muted;
  }

  .animate-link {
    @apply inline-block relative overflow-hidden;

    &:hover:after {
      left: 0;
    }

    &:after {
      content: "";
      @apply duration-300 absolute bottom-0 left-full w-full h-1 bg-primary;
    }
  }

  .link {
    @apply duration-150 hover:text-primary;
  }
}
