@import "tailwindcss/base";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --moderate-cyan: 176, 50%, 47%;
    --dark-cyan: 176, 72%, 28%;
    --black: 0, 0%, 0%;
    --dark-gray: 0, 0%, 48%;
    --white: 0, 0%, 100%;
  }

  //make default form look nice
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="month"],
  [type="time"],
  [type="week"],
  [multiple] {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-indigo-500 focus:ring-indigo-500;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-300 rounded text-indigo-600 focus:ring-indigo-500;
  }
}

// input.ng-invalid.ng-touched {
//   @apply border-2 border-danger;
// }

@layer components {
  .container-large {
    max-width: 1440px;
    margin: 0 auto;
  }
  .thanks-dialog {
    margin: 0 8px;
    max-width: 378px !important;
  }

  //CUSTOM APPLY HERE
  .btn {
    @apply duration-500 inline-block text-white font-semibold text-center py-3 px-8  rounded-full tracking-wide md:px-10;
  }

  .btn-primary {
    @apply bg-primary shadow-md shadow-primary hover:bg-primary-900 hover:shadow-primary-900;
  }
  .btn-secondary {
    @apply bg-muted shadow-md shadow-muted;
  }

  .animate-link {
    @apply inline-block relative overflow-hidden;

    &:hover:after {
      left: 0;
    }

    &:after {
      content: "";
      @apply duration-300 absolute bottom-0 left-full w-full h-1 bg-primary;
    }
  }
}
